volumes/*
!volumes/.gitkeep

!volumes/import
volumes/import/*
!volumes/import/.gitkeep

!volumes/chunks
volumes/chunks/*
!volumes/chunks/.gitkeep

!volumes/library
volumes/library/*
!volumes/library/.gitkeep

!volumes/db
volumes/db/*
!volumes/db/.gitkeep

.DS_Store