volumes/*
!volumes/.gitkeep

!volumes/import
volumes/import/*
!volumes/import/.gitkeep

!volumes/chunks
volumes/chunks/*
!volumes/chunks/.gitkeep

!volumes/library
volumes/library/*
!volumes/library/.gitkeep

!volumes/db
volumes/db/*
!volumes/db/.gitkeep

!volumes/assets
volumes/assets/*
!volumes/assets/.gitkeep

.DS_Store
photostock-front
photostock-api

.env